<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>表格示例</title>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.min.css}"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="nav navbar-fixed-top"></nav>
        </div>
        <div class="row">
            <div class=""></div>
            <div class=""></div>
        </div>
    </div>
</body>
</html>
