<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modules.quartz.dao.QuartzTaskInformationsMapper">
    <resultMap id="BaseResultMap" type="com.common.model.vo.quartz.QuartzTaskInformations">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="taskNo" property="taskNo" jdbcType="VARCHAR"/>
        <result column="taskName" property="taskName" jdbcType="VARCHAR"/>
        <result column="schedulerRule" property="schedulerRule" jdbcType="VARCHAR"/>
        <result column="frozenStatus" property="frozenStatus" jdbcType="VARCHAR"/>
        <result column="executorNo" property="executorNo" jdbcType="VARCHAR"/>
        <result column="frozenTime" property="frozenTime" jdbcType="BIGINT"/>
        <result column="unfrozenTime" property="unfrozenTime" jdbcType="BIGINT"/>
        <result column="createTime" property="createTime" jdbcType="BIGINT"/>
        <result column="lastModifyTime" property="lastModifyTime" jdbcType="BIGINT"/>
        <result column="sendType" property="sendType" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="executeParamter" property="executeParamter" jdbcType="VARCHAR"/>
        <result column="timeKey" property="timeKey" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, version, taskNo, taskName, schedulerRule, frozenStatus, executorNo, frozenTime, 
    unfrozenTime, createTime, lastModifyTime, sendType, url, executeParamter, timeKey
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from quartz_task_informations
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quartz_task_informations
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.common.model.vo.quartz.QuartzTaskInformations">
    insert into quartz_task_informations (id, version, taskNo, 
      taskName, schedulerRule, frozenStatus, 
      executorNo, frozenTime, unfrozenTime, 
      createTime, lastModifyTime, sendType, 
      url, executeParamter, timeKey
      )
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{taskNo,jdbcType=VARCHAR},
      #{taskName,jdbcType=VARCHAR}, #{schedulerRule,jdbcType=VARCHAR}, #{frozenStatus,jdbcType=VARCHAR},
      #{executorNo,jdbcType=VARCHAR}, #{frozenTime,jdbcType=BIGINT}, #{unfrozenTime,jdbcType=BIGINT},
      #{createTime,jdbcType=BIGINT}, #{lastModifyTime,jdbcType=BIGINT}, #{sendType,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR}, #{executeParamter,jdbcType=VARCHAR}, #{timeKey,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.common.model.vo.quartz.QuartzTaskInformations">
        insert into quartz_task_informations
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="taskNo != null">
                taskNo,
            </if>
            <if test="taskName != null">
                taskName,
            </if>
            <if test="scheduleRrule != null">
                schedulerRule,
            </if>
            <if test="frozenStatus != null">
                frozenStatus,
            </if>
            <if test="executorNo != null">
                executorNo,
            </if>
            <if test="frozenTime != null">
                frozenTime,
            </if>
            <if test="unfrozenTime != null">
                unfrozenTime,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="lastModifyTime != null">
                lastModifyTime,
            </if>
            <if test="sendType != null">
                sendType,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="executeParamter != null">
                executeParamter,
            </if>
            <if test="timeKey != null">
                timeKey,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="taskNo != null">
                #{taskNo,jdbcType=VARCHAR},
            </if>
            <if test="taskName != null">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="schedulerRule != null">
                #{schedulerRule,jdbcType=VARCHAR},
            </if>
            <if test="frozenStatus != null">
                #{frozenStatus,jdbcType=VARCHAR},
            </if>
            <if test="executorNo != null">
                #{executorNo,jdbcType=VARCHAR},
            </if>
            <if test="frozenTime != null">
                #{frozenTime,jdbcType=BIGINT},
            </if>
            <if test="unfrozenTime != null">
                #{unfrozenTime,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifyTime != null">
                #{lastModifyTime,jdbcType=BIGINT},
            </if>
            <if test="sendType != null">
                #{sendType,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="executeParamter != null">
                #{executeParamter,jdbcType=VARCHAR},
            </if>
            <if test="timeKey != null">
                #{timeKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.common.model.vo.quartz.QuartzTaskInformations">
        update quartz_task_informations
        <set>
            <if test="version != null">
                version = version+1,
            </if>
            <if test="taskNo != null">
                taskNo = #{taskNo,jdbcType=VARCHAR},
            </if>
            <if test="taskName != null">
                taskName = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="schedulerRule != null">
                schedulerRule = #{schedulerRule,jdbcType=VARCHAR},
            </if>
            <if test="frozenStatus != null">
                frozenStatus = #{frozenStatus,jdbcType=VARCHAR},
            </if>
            <if test="executorNo != null">
                executorNo = #{executorNo,jdbcType=VARCHAR},
            </if>
            <if test="frozenTime != null">
                frozenTime = #{frozenTime,jdbcType=BIGINT},
            </if>
            <if test="unfrozenTime != null">
                unfrozenTime = #{unfrozenTime,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifyTime != null">
                lastModifyTime = #{lastModifyTime,jdbcType=BIGINT},
            </if>
            <if test="sendType != null">
                sendType = #{sendType,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="executeParamter != null">
                executeParamter = #{executeParamter,jdbcType=VARCHAR},
            </if>
            <if test="timeKey != null">
                timeKey = #{timeKey,jdbcType=VARCHAR},
            </if>
        </set>
        where taskNo = #{taskNo,jdbcType=VARCHAR} and version = #{version}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.common.model.vo.quartz.QuartzTaskInformations">
    update quartz_task_informations
    set version = #{version,jdbcType=INTEGER},
      taskNo = #{taskNo,jdbcType=VARCHAR},
      taskName = #{taskName,jdbcType=VARCHAR},
      schedulerRule = #{schedulerRule,jdbcType=VARCHAR},
      frozenStatus = #{frozenStatus,jdbcType=VARCHAR},
      executorNo = #{executorNo,jdbcType=VARCHAR},
      frozenTime = #{frozenTime,jdbcType=BIGINT},
      unfrozenTime = #{unfrozenTime,jdbcType=BIGINT},
      createTime = #{createTime,jdbcType=BIGINT},
      lastModifyTime = #{lastModifyTime,jdbcType=BIGINT},
      sendType = #{sendType,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      executeParamter = #{executeParamter,jdbcType=VARCHAR},
      timeKey = #{timeKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from quartz_task_informations
        <where>
            <if test='searchStr != null and searchStr != ""'>
                taskNo = #{searchStr} or taskName = #{searchStr} or executorNo = #{searchStr}
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectByTaskNo" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from quartz_task_informations where taskNo=#{taskNo}
  </select>

    <select id="getTaskByTaskNo" parameterType="java.lang.String"
            resultType="com.common.model.vo.quartz.QuartzTaskInformations">
        select
        <include refid="Base_Column_List"/>
        from quartz_task_informations where taskNo = #{taskNo}
    </select>

    <select id="getUnfrozenTasks" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from quartz_task_informations where frozenStatus = #{frozenStatus}
    </select>

</mapper>
