<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modules.quartz.dao.QuartzTaskErrorsMapper">
    <resultMap id="BaseResultMap" type="com.common.model.vo.quartz.QuartzErrorTasks">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="taskExecuteRecordId" property="taskExecuteRecordId" jdbcType="VARCHAR"/>
        <result column="errorKey" property="errorKey" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="BIGINT"/>
        <result column="lastModifyTime" property="lastModifyTime" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.common.model.vo.quartz.QuartzErrorTasks"
               extends="BaseResultMap">
        <result column="errorValue" property="errorValue" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, taskExecuteRecordId, errorKey, createTime, lastModifyTime
  </sql>
    <sql id="Base_Column_List_With_ErrorValue">
    id, taskExecuteRecordId, errorKey, errorValue ,createTime, lastModifyTime
  </sql>
    <sql id="Blob_Column_List">
    errorValue
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from quartz_task_errors
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quartz_task_errors
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.common.model.vo.quartz.QuartzErrorTasks">
    insert into quartz_task_errors (id, taskExecuteRecordId, errorKey, createTime, lastModifyTime, errorValue)
    values (#{id,jdbcType=BIGINT}, #{taskExecuteRecordId,jdbcType=VARCHAR}, #{errorKey,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{lastModifyTime,jdbcType=BIGINT}, #{errorValue,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.common.model.vo.quartz.QuartzErrorTasks">
        insert into quartz_task_errors
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskExecuteRecordId != null">
                taskExecuteRecordId,
            </if>
            <if test="errorKey != null">
                errorKey,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="lastModifyTime != null">
                lastModifyTime,
            </if>
            <if test="errorValue != null">
                errorValue,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="taskExecuteRecordId != null">
                #{taskExecuteRecordId,jdbcType=VARCHAR},
            </if>
            <if test="errorKey != null">
                #{errorKey,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifyTime != null">
                #{lastModifyTime,jdbcType=BIGINT},
            </if>
            <if test="errorValue != null">
                #{errorValue,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.common.model.vo.quartz.QuartzErrorTasks">
        update quartz_task_errors
        <set>
            <if test="taskExecuteRecordId != null">
                taskExecuteRecordId = #{taskExecuteRecordId,jdbcType=VARCHAR},
            </if>
            <if test="errorKey != null">
                errorKey = #{errorKey,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifyTime != null">
                lastModifyTime = #{lastModifyTime,jdbcType=BIGINT},
            </if>
            <if test="errorValue != null">
                errorValue = #{errorValue,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.common.model.vo.quartz.QuartzErrorTasks">
    update quartz_task_errors
    set taskExecuteRecordId = #{taskExecuteRecordId,jdbcType=VARCHAR},
      errorKey = #{errorKey,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=BIGINT},
      lastModifyTime = #{lastModifyTime,jdbcType=BIGINT},
      errorValue = #{errorValue,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.common.model.vo.quartz.QuartzErrorTasks">
    update quartz_task_errors
    set taskExecuteRecordId = #{taskExecuteRecordId,jdbcType=VARCHAR},
      errorKey = #{errorKey,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=BIGINT},
      lastModifyTime = #{lastModifyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="detailTaskErrors" parameterType="java.lang.String"
            resultType="com.common.model.vo.quartz.QuartzErrorTasks">
        select
        <include refid="Base_Column_List_With_ErrorValue"/>
        from quartz_task_errors where taskExecuteRecordId = #{recordId}
    </select>
</mapper>
