<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>定时任务执行详情页面</title>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-zh-CN.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/animate.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/mediaelementplayer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/red.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/simple-line-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap-table.min.css}"/>
    <style>
        .close{
            float: right;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <a href="#" class="close" onclick="goBack()">X</a>
                <h2>定时任务执行情况</h2>
                <hr/>
                <input type="hidden" id="taskNo" th:value="${taskNo}">
                <div class="responsive-table">
                    <table id="table" class="bootstrap-table table table-striped table-bordered">
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
        $(function(){
            $('#table').bootstrapTable({
                url: '/quartz/task/record',
                queryParams: function(params){
                    return {
                        pageSize : params.limit || 5,
                        pageNum : params.offset / params.limit + 1 || 0,
                        taskNo: $('#taskNo').val()
                    }
                },
                pagination: true,
                pageList: [5, 10, 15, 50, 100],
                search: false,
                sidePagination: 'server',
                paginationPreText: '上一页',
                paginationNextText: '下一页',
                columns: [ [{
                    field: 'taskNo',
                    title: '任务编号',
                    align : 'center'
                }, {
                    field: 'timeKeyValue',
                    title: 'time key value',
                    align : 'center'
                }, {
                    field: 'executeTime',
                    title: '执行时间',
                    align : 'center',
                    formatter: function(value, row, index, field){
                         return new Date(value).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ").replace(/上午|下午|晚上/g, '');
                    }
                }, {
                    field: '',
                    title: '执行时长',
                    align : 'center',
                    formatter: function(value, row, index, field){
                        return (row.lastModifyTime - row.createTime) + 'ms';
                    }
                }, {
                    field: 'taskStatus',
                    title: '执行状态',
                    align : 'center'
                }, {
                    field: 'failCount',
                    title: '失败数',
                    align : 'center'
                }, {
                    field: '',
                    title: '操作',
                    align : 'center'
                } ] ]
            });
        });

        function detailTaskErrors(recordId) {
            location.href="/quartz/task/errors?recordId="+recordId;
        }

        function goBack(){
            history.go(-1);
        }

</script>
</body>
</html>
